<h2>所属チーム一覧</h2>
<% @teams.each do |team| %>
  <tr>
  ------------------------------<br>
    <td><%= link_to team.name, team_path(team) %><br>
  </tr>
<% end %>
  ------------------------------
  <h2>myチーム一覧</h2>
  <% @myteams.each do |myteam| %>
    <tr>
    ------------------------------<br>
      <td><%= link_to myteam.name, team_path(myteam) %>
      <%= link_to '削除', team_path(myteam), method: :delete, data: {confirm: '本当に削除しますか?'} %></td><br>
    </tr>
  <% end %>