<h1>所属チーム一覧</h1>
<% @teams.each do |team| %>
  <tr>
    <td>チーム名:<%= team.name %></td>
    <div>
    <td>オーナー:<%= team.owner_id %></td>
    </div>
    <td><%= link_to 'チームページへ', team_path(team) %><br>
  </tr>
<% end %>