<h1>ユーザーページ</h1>

<p><%= @user.email %></p>
<tr>
<%= link_to '所属チーム', teams_path(@user), class:"btn btn-outline-primary btn-block" %><br>
<br>
<%= link_to 'チーム作成', new_team_path, class:"btn btn-outline-secondary btn-block" %><br>
<br>
<%= link_to 'アイデア募集投稿一覧', comments_path, class:"btn btn-outline-success btn-block" %><br>

</tr>