<h2><%= @user.email %>のページ</h2><br>
<!--
<div class="shozoku_user">
  <%= link_to '所属チーム', teams_path(@user) %>
</div>    
<div class="sakusei_user">
  <%= link_to 'チーム作成', new_team_path %>
</div>
<div class="idea_user">
  <%= link_to 'アイデア募集投稿一覧', comments_path %>
</div>
-->