<h1>ユーザーページ</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>MyPage <%= @user.id %></p>
<tr>
<%= link_to '所属チーム', teams_path %><br>
<%= link_to 'チーム作成', new_team_path %><br>
<%= link_to '公開コメント一覧', comments_path %><br>

</tr>