<div class="container" style="justify-contents: center;">

<h1>ソングワークスペース</h1>
<h2>
<%= @song.title %>
</h2>
<div id="comments_area">
<%= render partial: 'comments/index', locals: { comments: @comments, song: @song } %><br>
</div>

  <h3>アイデア投稿</h3>
  <%= render partial: 'comments/form', locals: { comment: @comment, song: @song } %>

  <br>
  <%= link_to 'Back', team_path(@team) %>
</div>