<h1>ソングワークスペース</h1>
<p>

<%= @song.title %>
</p>
<div id="comments_area">
<%= render partial: 'comments/index', locals: { comments: @comments, song: @song } %>
</div>

  <h3>アイデア投稿</h3>
 

  <%= render partial: 'comments/form', locals: { comment: @comment, song: @song } %>
