<br>
<% unless user_signed_in? %>
<%= link_to "新規登録", new_user_registration_path %><br>
<%= link_to "ログイン", new_user_session_path %><br>
<%= link_to "ゲストログイン", homes_guest_sign_in_path, method: :post %><br>
<%= link_to "管理者用ゲストログイン", homes_admins_guest_sign_in_path, method: :post %><br>
<% end %>

<div class="TOP">
<h1>iDea studio</h1>
</div>
<br>
<h4>バーチャルバンドのワークスペースアプリケーション</h4><br>
<div class="app_name">
<br><h2>「アイデアスタジオ」</h2>
<div>
<br>
<div class="detail">
<p>アイデアスタジオは、楽器奏者（ユーザー）同士によるアプリ上の仮想チーム{BAND}を</p>
<p>結成することを可能にし、仮想BAND活動のタスク管理、進捗共有を効率化します。</p>
<p>既存音楽マッチングアプリには実装されていない「チームに所属するシステム」により、</p>
<p>ユーザーが楽器奏者や音楽コンテンツ製作者として、</p>
<p>アプリ上の複数のグループで活動することが可能になります。</p>
</div>
<br>
<div>
<h5>
プロジェクトスペース作成機能<br>	<br>								
「ソングスペース」を作成し、<br>その中でチームメンバーがコメントすることで<br>											
チームプロジェクトの情報を共有することができます<br>		<br><br>									
											
音声投稿機能<br><br>											
ソングスペースではコメントと音声ファイルが投稿可能で<br>チーム参加メンバーが											
コメント+音声データ情報を<br>共有することができます。		<br><br>									
											
チーム招待機能	<br>			<br>							
チームメンバーがユーザーのemailアドレスを入力することで、<br>											
チームに招待することが可能
</h5>
</div>											

