<br>

<div class="top">
  <font face="arial black"><h1 class="home_show">iDea studio</h1></font>
  <p>これは音声ファイルとメッセージを公開し合うためだけのスペースです。</p>
</div>
<br>


<br>
<br>
<div class="root">
  <ul>
    <li>
      <div class="song clearfix">
        <h5>ソングスペース</h5><br>
        <h6>「ソング作成」でジャンル名や曲名を付けたコミュニケーションスペースを作成できます。</h6>
      </div>			
    </li>
    <li>  
      <div class="onsei clearfix">
          <h5>音声投稿機能</h5>							
          <h6>「ソングワークスペース」ではコメントと音声ファイルが投稿可能</h6>
      </div>									
    </li>
    <li>
      <div class="group clearfix">
          <h5>グループ招待機能</h5>							
          <h6>チームメンバーがユーザーのemailアドレスを入力することで,グループに招待することが可能</h6>
      </div>	
    </li>
  </ul>							
</div>

