/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
  width: 100%;
}

.header{
  background: linear-gradient(90deg, rgb(33, 157, 173), rgb(128, 105, 172));background-color: rgb(21, 26, 26);
}

.logo_image{
  float: left;
  margin-left: 6rem;
}

.top_menu li{
  float: right;
  padding: 0.5rem;
  margin-right: 0.6rem;
  border-radius: 0.6rem;
  background-color: rgba(0, 0, 0, 0.226);
}

.li_color{
  color: rgb(255, 255, 255);
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.sign_in_top_menu li{
  float: right;
  padding: 0.6rem;
  margin-right: 0.6rem;
  border-radius: 0.6rem;
  background-color: rgba(0, 0, 0, 0.226);
}

.one{
  color: rgb(68, 212, 164);
}

.wrapper {
  min-height: 100%;
  text-align: center;
  /* フッタの高さと等しいネガティブマージン */
  /* また最後の子要素の潜在的なマージンとしても機能 */
  /* margin-bottom: -50px; */
}

aside{
  float: left;
}

.yield_space{
  width: 80%;
  float: left;
  margin: 0 auto;
}

.footer,
.push {
  height: 50px;
}
 .footer{
  background: linear-gradient(90deg, rgb(139, 190, 197), rgb(128, 105, 172));background-color: rgb(21, 26, 26);
  height: 2.4rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: table;
}

.footer p {
  font-size: 1rem;
  color: rgba(206, 9, 124, 0.719);
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}


.body {
  margin: auto;
  width: 1000px;
  background-size: cover;
}

li {
  list-style: none;
}

/* body { background-image: url(wallpaper-music-14.jpeg);} */



.shozoku_user {
  width: 12rem;
  height: 4.2rem;
  background-color: white;
  margin: 0.3rem;
  padding: 1.2rem 0;
}

.sakusei_user {
  width: 12rem;
  height: 4.2rem;
  background-color: white;
  margin: 0.3rem;
  padding: 1.2rem 0;
}

.idea_user {
  width: 12rem;
  height: 4.2rem;
  background-color: white;
  margin: 0.3rem;
  padding: 1.2rem 0;
}
