// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.TOP {
  background-color: rgba(33, 220, 220, 0.775);
}

.app_name {
  background-color: rgba(165, 208, 208, 0.667);
}

.detail {
  background-color: rgba(23, 232, 232, 0.544);
}