// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.input-group{
  width: fit-content;
  margin: auto;
}

.input-group-append{
  width: fit-content;
  margin: auto;
}

