// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.input-group{
  width: fit-content;
  margin: auto;
}

.input-group-append{
  width: fit-content;
  margin: auto;
}


.shozoku{
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.shozoku li{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sakusei{
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  position: relative;

}

.sakusei li{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}